/local.properties
/project.properties
/bin
/libs
/gen

/prevodb/Makefile
/prevodb/Makefile.in
/prevodb/aclocal.m4
/prevodb/autom4te.cache
/prevodb/config.h
/prevodb/config.h.in
/prevodb/config.log
/prevodb/config.status
/prevodb/configure
/prevodb/depcomp
/prevodb/install-sh
/prevodb/missing
/prevodb/src/Makefile
/prevodb/src/Makefile.in
/prevodb/src/prevodb
/prevodb/src/prevo
/prevodb/src/dump-article
/prevodb/src/dump-index
/prevodb/src/dump-marks
/prevodb/src/test-doc
/prevodb/stamp-h1

/assets/articles/article-*.bin
/assets/indices/index-*.bin
/res/xml/languages.xml

.deps
*.o
