<?xml version="1.0" encoding="utf-8"?>

<!--
 * PReVo - A portable version of ReVo for Android
 * Copyright (C) 2012  Neil Roberts
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          package="uk.co.busydoingnothing.prevo"
          a:versionCode="1"
          a:versionName="1.0"
          a:installLocation="auto">
  <uses-sdk a:minSdkVersion="10" a:targetSdkVersion="14" />

  <application a:label="@string/app_name"
               a:icon="@drawable/icon"
               a:hardwareAccelerated="true"
               a:debuggable="true">
    <activity a:name="LanguagesActivity"
              a:label="@string/app_name">
      <intent-filter>
        <action a:name="android.intent.action.MAIN" />
        <category a:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity a:name="SearchActivity"
              a:label="@string/search">
    </activity>
    <activity a:name="ArticleActivity">
    </activity>
  </application>
</manifest>
